doc/Testin短信平台文档/技术文档/webserviceelm/WindowsApplication1/Web References/zzsms/info.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://info.pica.com" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://info.pica.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://info.pica.com">
      <xsd:element name="register">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in4" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in5" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in6" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in7" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in8" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in9" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in10" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendMMS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in4" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in5" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in6" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in7" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in8" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in9" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in10" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendMMSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getbalance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getbalanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendSMS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in4" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in5" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in6" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in7" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in8" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in9" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendSMSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getmo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getmoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getchannelcheck">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getchannelcheckResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="modifypwd">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="modifypwdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getchannellength">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getchannellengthResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getReport">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getReportResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getReportRequest">
    <wsdl:part name="parameters" element="tns:getReport" />
  </wsdl:message>
  <wsdl:message name="sendMMSRequest">
    <wsdl:part name="parameters" element="tns:sendMMS" />
  </wsdl:message>
  <wsdl:message name="getbalanceResponse">
    <wsdl:part name="parameters" element="tns:getbalanceResponse" />
  </wsdl:message>
  <wsdl:message name="getReportResponse">
    <wsdl:part name="parameters" element="tns:getReportResponse" />
  </wsdl:message>
  <wsdl:message name="getchannellengthResponse">
    <wsdl:part name="parameters" element="tns:getchannellengthResponse" />
  </wsdl:message>
  <wsdl:message name="registerResponse">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="registerRequest">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="sendMMSResponse">
    <wsdl:part name="parameters" element="tns:sendMMSResponse" />
  </wsdl:message>
  <wsdl:message name="getbalanceRequest">
    <wsdl:part name="parameters" element="tns:getbalance" />
  </wsdl:message>
  <wsdl:message name="getmoResponse">
    <wsdl:part name="parameters" element="tns:getmoResponse" />
  </wsdl:message>
  <wsdl:message name="getchannelcheckResponse">
    <wsdl:part name="parameters" element="tns:getchannelcheckResponse" />
  </wsdl:message>
  <wsdl:message name="getchannelcheckRequest">
    <wsdl:part name="parameters" element="tns:getchannelcheck" />
  </wsdl:message>
  <wsdl:message name="getchannellengthRequest">
    <wsdl:part name="parameters" element="tns:getchannellength" />
  </wsdl:message>
  <wsdl:message name="modifypwdRequest">
    <wsdl:part name="parameters" element="tns:modifypwd" />
  </wsdl:message>
  <wsdl:message name="modifypwdResponse">
    <wsdl:part name="parameters" element="tns:modifypwdResponse" />
  </wsdl:message>
  <wsdl:message name="getmoRequest">
    <wsdl:part name="parameters" element="tns:getmo" />
  </wsdl:message>
  <wsdl:message name="sendSMSRequest">
    <wsdl:part name="parameters" element="tns:sendSMS" />
  </wsdl:message>
  <wsdl:message name="sendSMSResponse">
    <wsdl:part name="parameters" element="tns:sendSMSResponse" />
  </wsdl:message>
  <wsdl:portType name="infoPortType">
    <wsdl:operation name="register">
      <wsdl:input name="registerRequest" message="tns:registerRequest" />
      <wsdl:output name="registerResponse" message="tns:registerResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendMMS">
      <wsdl:input name="sendMMSRequest" message="tns:sendMMSRequest" />
      <wsdl:output name="sendMMSResponse" message="tns:sendMMSResponse" />
    </wsdl:operation>
    <wsdl:operation name="getbalance">
      <wsdl:input name="getbalanceRequest" message="tns:getbalanceRequest" />
      <wsdl:output name="getbalanceResponse" message="tns:getbalanceResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <wsdl:input name="sendSMSRequest" message="tns:sendSMSRequest" />
      <wsdl:output name="sendSMSResponse" message="tns:sendSMSResponse" />
    </wsdl:operation>
    <wsdl:operation name="getmo">
      <wsdl:input name="getmoRequest" message="tns:getmoRequest" />
      <wsdl:output name="getmoResponse" message="tns:getmoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getchannelcheck">
      <wsdl:input name="getchannelcheckRequest" message="tns:getchannelcheckRequest" />
      <wsdl:output name="getchannelcheckResponse" message="tns:getchannelcheckResponse" />
    </wsdl:operation>
    <wsdl:operation name="modifypwd">
      <wsdl:input name="modifypwdRequest" message="tns:modifypwdRequest" />
      <wsdl:output name="modifypwdResponse" message="tns:modifypwdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getchannellength">
      <wsdl:input name="getchannellengthRequest" message="tns:getchannellengthRequest" />
      <wsdl:output name="getchannellengthResponse" message="tns:getchannellengthResponse" />
    </wsdl:operation>
    <wsdl:operation name="getReport">
      <wsdl:input name="getReportRequest" message="tns:getReportRequest" />
      <wsdl:output name="getReportResponse" message="tns:getReportResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="infoHttpBinding" type="tns:infoPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="register">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="registerRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="registerResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMMS">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sendMMSRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendMMSResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getbalance">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getbalanceRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getbalanceResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSMS">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sendSMSRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendSMSResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getmoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getmoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getchannelcheck">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getchannelcheckRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getchannelcheckResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifypwd">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="modifypwdRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="modifypwdResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getchannellength">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getchannellengthRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getchannellengthResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReport">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getReportRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReportResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="info">
    <wsdl:port name="infoHttpPort" binding="tns:infoHttpBinding">
      <wsdlsoap:address location="http://211.99.191.148/mms/services/info" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>